<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assimp" version="3.0.0" targetFramework="native" />
  <package id="Assimp.redist" version="3.0.0" targetFramework="native" />
  <package id="boost" version="1.65.1.0" targetFramework="native" />
  <package id="FFMPEG" version="1.1.3" targetFramework="native" />
  <package id="freeimage" version="3.16.0" targetFramework="native" />
  <package id="freeimage.redist" version="3.16.0" targetFramework="native" />
  <package id="Glew_dynamic" version="2.0.0.0" targetFramework="native" />
  <package id="glfw" version="3.2.1" targetFramework="native" />
  <package id="glfw.redist" version="3.2.1" targetFramework="native" />
  <package id="GLMathematics" version="0.9.5.4" targetFramework="native" />
  <package id="nupengl.core" version="0.1.0.1" targetFramework="native" />
  <package id="nupengl.core.redist" version="0.1.0.1" targetFramework="native" />
  <package id="SDL" version="1.2.15.16" targetFramework="native" />
  <package id="SDL.redist" version="1.2.15.16" targetFramework="native" />
  <package id="sfml-system" version="2.4.2.0" targetFramework="native" />
  <package id="sfml-system.redist" version="2.4.2.0" targetFramework="native" />
  <package id="sfml-window" version="2.4.2.0" targetFramework="native" />
  <package id="sfml-window.redist" version="2.4.2.0" targetFramework="native" />
  <package id="soil" version="1.16.0" targetFramework="native" />
</packages>